body {
  font-family: Arial;
  background: #f5f5f5;
}

.invoice {
  width: 900px;
  margin: auto;
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
}

.title {
  text-align: center;
  margin-bottom: 10px;
}

/* HEADER */
.top-box {
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
  padding: 10px;
}

.logo {
  width: 80px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

/* DETAILS */
.details-box {
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
  border-top: none;
  padding: 10px;
}

/* TABLE */
.main-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.main-table th,
.main-table td {
  border: 1px solid #000;
  padding: 6px;
  text-align: center;
}

/* SUMMARY */
.summary-box {
  margin-top: 10px;
  border: 1px solid #000;
  padding: 10px;
  width: 300px;
  float: right;
}

/* FOOTER */
.footer-box {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.sign {
  text-align: center;
}