body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 12px 15px;
  background: #1e293b;
}

.logo {
  font-weight: bold;
}

.menu-toggle {
  font-size: 22px;
  cursor: pointer;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 24px;
}

.hero p {
  color: #cbd5f5;
}

/* BUTTONS */
.btn {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  border: 2px solid cyan;
  color: cyan;
}

.secondary {
  background: cyan;
  color: black;
}

/* SERVICES */
.services {
  padding: 20px;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  background: #334155;
}

/* SLIDER */
.slider {
  margin: 20px;
  overflow: hidden;
  border-radius: 10px;
}

.slides {
  display: flex;
  transition: 0.5s;
}

.slides img {
  width: 100%;
  flex-shrink: 0;
  border-radius: 10px;
}

/* DOTS */
.dots {
  text-align: center;
  margin-top: 10px;
}

.dots span {
  height: 8px;
  width: 8px;
  background: gray;
  margin: 4px;
  display: inline-block;
  border-radius: 50%;
}

.active {
  background: white;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 10px;
  background: #1e293b;
}

/* MOBILE */
@media(max-width:600px) {
  .hero h1 {
    font-size: 18px;
  }
}